body {
    background: rgba(240, 170, 0, 0.07);
    font-family: 'Montserrat', sans-serif;
}

.app-wrapper {
    font-family: 'Montserrat', sans-serif;
}

.header {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
    border-bottom: 3px solid rgb(62, 28, 184);
    box-shadow: 2px 7px 7px -1px rgba(15, 23, 138, 0.5);
}

.header-title {
    font-size: 46px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}

.header-controls {
    position: absolute;
    display: flex;
    align-items: center;
    top: 15px;
    right: 10px;
}

.btn-logout {
    background-color: rgb(238, 148, 144);
}

.user_logo {
    margin-left: 15px;
    padding: 4px;
    width: 35px;
    height: 35px;
    font-size: 28px;
    text-transform: uppercase;
    text-align: center;
    line-height: 36px;
    background-color: rgb(144, 230, 127);
    border-radius: 50%;
    cursor: pointer;
}

.button {
    padding: 6px 16px;
    font-family: 'Mitr', sans-serif;
    font-size: 18px;
    border: none;
    border-radius: 3px;
    box-shadow: 2px 2px 2px;
    cursor: pointer;
    text-transform: uppercase;
}

.button:hover {
    box-shadow: none;
    transform: translate(2px, 2px);
}

.form-container {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: 0 auto;
    margin-top: 30px;
    padding: 20px;
    box-shadow: 3px 3px 7px 3px #3e9acf;
    border-radius: 5px;
}

.form {
    display: flex;
    flex-direction: column;    
}

.form-switch-btn {
    margin-bottom: 10px;
    padding: 0;
    font-size: 20px;
    align-self: start;
    border: none;
    background-color: transparent;
    text-transform: uppercase;
}

.form-switch-btn:hover {
    cursor: pointer;
    text-decoration: underline;
}

.form-title {
    margin-bottom: 15px;
    font-size: 32px;
    font-weight: 700;
    text-transform: uppercase;
}

.input-container {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 28px;
}

.input-container:last-of-type {
    margin-bottom: 45px;
}

.input-label {
    font-weight: 500;
    font-size: 16px;
}

.input {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 18px;
    padding: 5px;
    border: 1px solid;
    border-radius: 5px;
    background: rgb(0, 183, 255, 0.1);
}


.input-error {
    position: absolute;
    left: 0;
    bottom: -16px;
    font-size: 14px;
    color: #f00;
}

.form-btn-submit {
    align-self: flex-end;
    background-color: rgb(52, 182, 110);
}

.app-container {
    margin: 0 auto;
}

.board {
    display: grid;
    justify-content: center;
    align-items: start;
    grid-template-columns: 1fr 1fr;
    grid-gap: 25px;
    max-width: 1200px;
    margin: 25px auto;
}

.task-form {
    box-shadow: 2px 5px 7px #c4a8c5;
    border-radius: 5px;
    padding: 40px;
}

.task-form:hover {
    box-shadow: 2px 5px 5px #b66895;
}

.task-card {
    position: relative;
    max-width: 500px;
    margin: 0 auto;
    margin-bottom: 25px;
    padding: 20px;
    box-shadow: 2px 3px 8px #22d4c6;
    border-radius: 5px;
}

.task-card:hover {
    box-shadow: inset 2px 2px 4px #0f8a80;
}

.task-title {
    margin-bottom: 10px;
    font-weight: 700;
}

.task-description {
    font-size: 16px;
    font-weight: 500;
}

.time-tracker {
    display: flex;
    align-items: center;
    margin: 10px auto;
    font-size: 18px;
    font-weight: 700;
}

.task-date {
    margin: 10px auto;
    font-size: 16px;
    font-weight: 500;
    color: rgb(128, 128, 128);
}

.timer-btn {
    margin-right: 8px;
    width: 22px;
    height: 22px;
    border-radius: 100%;
    border: none;
    cursor: pointer;
    font-size: 10px;
}

.timer-play-btn {
    background: #128334;
}

.timer-stop-btn {
    background: red;
}

.timer-btn i {
    color: #fff;
}

.timer-btn:disabled {
    cursor: not-allowed;
    background: gray;
}

.mark-as-done-btn {
    padding: 2px 8px;
    font-size: 16px;
    text-transform: none;
    background-color: #aaddac;
}

.task-finished {
    text-decoration: line-through;
}

.task-delete-btn {
    position: absolute;
    top: 15px;
    right: 15px;
    background-color: rgb(255, 0, 0, 0.2);
    border-radius: 50%;
    border: 1px solid rgb(255, 100, 100);
    cursor: pointer;
}

@media (max-width: 768px) {
    .board {
        grid-template-columns: 1fr;
    }
}