.app-wrapper {
    font-family: Arial, Helvetica, sans-serif;
}

.header-container {
    position: relative;
    max-width: 1440px;
    margin: 0 auto;
    padding: 15px;
    border-bottom: 3px solid rgb(62, 28, 184);
}

.header-title {
    font-size: 46px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

.header-controls {
    position: absolute;
    display: flex;
    align-items: center;
    top: 15px;
    right: 10px;
}

.btn-logout {
    background-color: rgb(238, 148, 144);
}

.user_logo {
    width: 35px;
    height: 35px;
    font-size: 28px;
    text-transform: uppercase;
    text-align: center;
    line-height: 36px;
    margin-left: 15px;
    padding: 4px;
    background-color: rgb(144, 230, 127);
    border-radius: 50%;
    cursor: pointer;
}

.button {
    padding: 6px 16px;
    font-size: 18px;
    border: none;
    border-radius: 3px;
    box-shadow: 2px 2px 2px;
    cursor: pointer;
    text-transform: uppercase;
}

.button:hover {
    box-shadow: none;
    transform: translate(2px, 2px);
}

.auth-form {
    max-width: 500px;
    margin: 0 auto;
    margin-top: 100px;
    box-shadow: 2px 5px 5px #3e9acf;
    border-radius: 5px;
    padding: 20px;
}

.form-container {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: 0 auto;
    margin-top: 30px;
    box-shadow: 2px 5px 5px #3e9acf;
    border-radius: 5px;
    padding: 20px;
}

.form {
    display: flex;
    flex-direction: column;    
}

.form-switch-btn {
    padding: 0;
    font-size: 20px;
    margin-bottom: 10px;
    align-self: start;
    border: none;
    background-color: transparent;
    text-transform: uppercase;
}

.form-switch-btn:hover {
    cursor: pointer;
    text-decoration: underline;
}

.form-title {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 15px;
    text-transform: uppercase;
}

.input-container {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-bottom: 28px;
}

.input-label {
    font-size: 16px;
}

.input {
    font-size: 18px;
    padding: 5px;
    border: 1px solid;
    border-radius: 5px;
}

.input-error {
    position: absolute;
    left: 0;
    bottom: -16px;
    font-size: 14px;
    color: #f00;
}

.form-btn-submit {
    align-self: flex-end;
    background-color: rgb(52, 182, 110);
}

/* .board {
    display: grid;
    grid-gap: 25px;
    grid-template-columns: 1fr 1fr;
} */

.app-container {
    /* display: grid;
    grid-gap: 25px; */
    /* grid-template-columns: 1fr 1fr; */
    margin: 0 auto;
    max-width: 1440px;
}

.task-form {
    max-width: 400px;
    margin: 0 auto;
    box-shadow: 2px 5px 5px #128334;
    border-radius: 5px;
    padding: 20px;
}

/* .task-cards {} */

.task-card {
    max-width: 400px;
    margin: 0 auto;
    box-shadow: 2px 3px 8px #22d4c6;
    border-radius: 5px;
    padding: 12px;
}

.task-card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.task-title {
    font-weight: bold;
}

.task-delete-btn {
    width: 20px;
    height: 20px;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    line-height: 20px;
    padding: 3px;
    background-color: rgb(175, 187, 178);
    border-radius: 50%;
    cursor: pointer;
}

.task-description {
    font-size: 14px;
}

.time-tracker {
    display: flex;
    align-items: center;
    margin: 10px auto;
    font-size: 14px;
}

.task-date {
    margin: 10px auto;
    font-size: 14px;
    color: rgb(128, 128, 128);
}

.timer-play-btn {
    width: 22px;
    height: 22px;
    border-radius: 100%;
    border: none;
    background-color: #128334;
    margin-right: 8px;
    cursor: pointer;
    font-size: 10px;
}

.timer-btn i {
    color: #fff;
}

.timer-stop-btn {
    width: 22px;
    height: 22px;
    background-color: red;
    margin-right: 8px;
}

.timer-btn:disabled {
    cursor: not-allowed;
    background: gray;
}

.mark-as-done-btn {
    background-color: #9dc49f;
}

.task-finished {
    text-decoration: line-through;
}